{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-sub">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="#">Recommended users <span class="badge">{{user_counts.recommendations}}</span></a></li>
            <li><a href="{% url 'favorite_users' %}">Favorite users <span class="badge">{{user_counts.favorites}}</span></a></li>
        </ul>
    </div>
</nav>

<div class="container container-fluid">
    <div id="user_container"></div>
</div>

{% endblock content %}

{% block extra-js %}
<script type='text/javascript'>
{% for i in user_detail %}
$(document).ready(function(){
    window.apps.appendSmallUserView(
        $('#user_container')[0],
        '{{i.username}}',
        {{i.dataset_number}},
        {{i.user_favorite_number}},
        {{i.user_favorited_by_number}},
        {{i.data_favorite_number}},
        {{i.data_favorited_by_number}},
        {{i.assembly_counts|safe}},
        {{i.experiment_counts|safe}},
        '{% url 'api:user-add-favorite' i.pk %}',
        '{% url 'api:user-remove-favorite' i.pk %}'
    );
});
{% endfor %}
</script>
{% endblock %}
