{% extends 'base_USERS.html' %}

{% block extra-js %}
<script type='text/javascript'>
{% for i in users %}
console.log({{i|safe}});
$(document).ready(function(){
    var args = {
        'display_favorite': true,
        'display_remove_recommendation': true,
        'display_remove_favorite': true
    };
    window.apps.appendSmallUserView(
        $('#user_container')[0],
        {{i.meta_data|safe}},
        {{i.plot_data|safe}},
        {{i.urls|safe}},
        args
    );
});
{% endfor %}
</script>
{% endblock %}
