{% extends 'base.html' %}

{% block content %}
<div class="container container-fluid">
    <h1>
        {{user.username}}
        <button type="button" id="favorite_button" class="panel-close-button">
            {% if is_followed %}
            <span id="star_glyph" class="glyphicon glyphicon-star"></span>
            {% else %}
            <span id="star_glyph" class="glyphicon glyphicon-star-empty"></span>
            {% endif %}
        </button>
    </h1>
    <h2>User interactions</h2>
    Following {{meta_data.user_following_number}} users</br>
    {{meta_data.data_favorite_number}} favorite datasets</br>
    Followed by {{meta_data.user_followed_by_number}} users</br>
    {{user.username}}'s datasets have been favorited {{meta_data.data_favorited_by_number}} times</br>
    <h2>Experiments overview</h2>
    <div class="row">
        <div class="col-sm-6">
            <div>Assemblies:</div>
            <div id="pie_1"></div>
        </div>
        <div class="col-sm-6">
            <div>Data types:</div>
            <div id="pie_2"></div>
        </div>
    </div>
    <h2>Most recent experiment</h2>
    </br>
    <div id="recent_dataset"></div>
</div>
{% endblock content %}

{% block extra-js %}
<script type='text/javascript'>
$(document).ready(function(){
    let star_glyph = $('#star_glyph');
    $('#favorite_button').on('click', function () {
        if (star_glyph.hasClass('glyphicon-star-empty')) {
            star_glyph.removeClass('glyphicon-star-empty')
            star_glyph.addClass('glyphicon-star')

            $.ajax({url: '{% url 'api:user-add-favorite' myuser.pk %}'});
        }

        else if (star_glyph.hasClass('glyphicon-star')) {
            star_glyph.removeClass('glyphicon-star')
            star_glyph.addClass('glyphicon-star-empty')

            $.ajax({url: '{% url 'api:user-remove-favorite' myuser.pk %}'});
        }
    });

    window.apps.createPieChart(
        $('#pie_1')[0],
        {{plot_data.assembly_counts|safe}},
        0,
    );
    window.apps.createPieChart(
        $('#pie_2')[0],
        {{plot_data.experiment_counts|safe}},
        1,
    );

    window.apps.createSmallDataView(
        $('#recent_dataset')[0],
        {{latest_dataset.meta_data.id}},
        {{latest_dataset.meta_data|safe}},
        {{latest_dataset.plot_data|safe}},
        {{latest_dataset.urls|safe}},
        {
            'display_favorite': true,
        }
    );
});
</script>
{% endblock %}
