POSTGRES_USER=orso
POSTGRES_PASSWORD=
USE_DOCKER=yes
DJANGO_DB_USER=orso
DJANGO_DB_NAME=orso
DJANGO_DB_HOST=postgres
DJANGO_DB_PW=
DJANGO_SETTINGS_MODULE=genomics_network.settings.production
DB_HOST=postgres
ALLOWED_HOSTS=django
DJANGO_SECRET_KEY=
DJANGO_LOG_FULLPATH=/network/django.log
DJANGO_PUBLIC_PATH=/network/public
DJANGO_ADMIN_NAMES=
DJANGO_ADMIN_EMAILS=

LOGS_PATH=/app/logs

DJANGO_ALLOWED_HOSTS=

DJANGO_CACHE_LOCATION=redis://redis:6379/0
DJANGO_BROKER_URL=redis://redis:6379/1
DJANGO_CELERY_RESULT_BACKEND=redis://redis:6379/2

REDIS_CONNECTION_STRING=redis://redis:6379/0
