{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block nav-js %}
<script>
    $('li.active').removeClass('active');
    $('#login_tab').addClass('active');
</script>
{% endblock %}

{% block title %}{{block.super}}: Login{% endblock %}


{% block content %}
  <div class='row-fluid'>
    <div class="col-md-8 col-md-offset-2">
      {% crispy form %}
    </div>
  </div>
{% endblock content %}


{% block extra_js %}
  <script type="text/javascript">
    document.getElementById('id_username').focus();
  </script>
{% endblock extra_js %}
