{% extends 'base.html' %}
{% load url_replace %}

{% block nav-js %}
<script>
    $('.navbar-default-niehs').children('li').removeClass('active');
    $('#explore_tab').addClass('active');
</script>
{% endblock %}


{% block content %}

<nav class="navbar navbar-sub-niehs">
    <div class="container">
        <ul class="nav navbar-nav">
            <li id='explore_overview_tab'><a href="{% url 'explore_overview' %}">Overview</a></li>
            <li id='explore_dendrogram_tab'><a href="{% url 'explore_dendrogram' %}">Dendrogram</a></li>
            <li id='explore_network_tab'><a href="{% url 'explore_network' %}">Network</a></li>
            <li id='explore_pca_tab'><a href="{% url 'explore_pca' %}">PCA</a></li>
        </ul>
    </div>
</nav>

{% block sub-nav-js %}
{% endblock sub-nav-js %}

<div class="container container-fluid">
    <div id="explore_container"></div>
</div>

{% endblock content %}
