{% extends 'base.html' %}
{% load url_replace %}

{% block content %}

{% if display_user_navbar %}
<nav class="navbar navbar-sub-niehs">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'all_users' %}">All users</a></li>
            <li><a href="{% url 'followed' %}">Following</a></li>
            <li><a href="{% url 'followers' %}">Followers</a></li>
            <!-- <li><a href="{% url 'followed' %}">Following <span id="followed_counts" class="badge">{{user_counts.followed_counts}}</span></a></li> -->
        </ul>
    </div>
</nav>
{% endif %}

{% endblock content %}

{% block sub-content %}

<form action="." method="get">
<fieldset>
<div class="container">
    <!-- <div class="accordion" id="filterForm">
        <div class="accordion-group"> -->
            <div>{{search_field.label_tag}}</div>
            <div class="row">
                <div class="col-sm-10 col-extend">
                    {{search_field}}
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary btn-block">Go</button>
                </div>
            </div>
            <!-- <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#filterForm" href="#EndpointForm" title="Filter endpoints">
                Advanced search options
                </a>
            </div> -->
            <!-- <div id="EndpointForm" class="accordion-body collapse">
                <div class="accordion-inner container">
                    {{ form.non_field_errors}}
                    {% for field in other_fields %}
                        {% if forloop.counter0|divisibleby:4 %}
                        <div class="row">
                        {% endif %}
                            <div class="col-sm-3">
                                {{field.label_tag}}
                                <div class="controls">
                                    {{field}}<br>
                                    <span class='help-inline'>{{field.help_text}}</span>
                                </div>
                                {{field.errors}}
                            </div>
                        {% if forloop.counter0|add:1|divisibleby:4 %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div> -->
        </div>
    </div>
</div>
</fieldset>
</form>

<div class="container container-fluid">
    <div id="user_container"></div>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?{% url_replace request 'page' page_obj.previous_page_number %}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?{% url_replace request 'page' page_obj.next_page_number %}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>

{% endblock sub-content %}
