{% extends 'base_USERS.html' %}
{% load staticfiles %}
{% load url_replace %}

{% block sub-content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="" method="post">{% csrf_token %}
                <p>
                    <a href="{% url 'user' object.pk %}">{{object.username}}</a>,
                    are you sure you want to delete your profile?
                </p>
                <input class="btn btn-primary" type="submit" value="Confirm"/>
                <button onclick="window.history.back();" class="btn btn-default" type="button">Cancel</button>
            </form>
        </div>
    </div>
</div>
{% endblock sub-content %}

{% block extra-js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% endblock %}
