{% extends 'base_USERS.html' %}

{% block sub-nav-js %}
<script>
    $('.navbar-sub-niehs').children('li').removeClass('active');
    $('#followers_tab').addClass('active');
</script>
{% endblock %}

{% block sub-content-header %}
<div class="container">
    {% if target_user %}
    <h1><a href="{% url 'user' target_user.pk %}">
        {{target_user.username}}</a>'s Followers ({{object_list|length}})</h1>
    {% endif %}
</div>
{% endblock sub-content-header %}

{% block extra-js %}
<script type='text/javascript'>
{% for user in object_list %}
$(document).ready(function(){
    window.apps.appendSmallUserView(
        $('#user_container')[0],
        {{user.meta_data|safe}},
        {{user.plot_data|safe}},
        {{user.urls|safe}},
        {
            'display_favorite': true,
        }
    );
});
{% endfor %}
</script>
{% endblock %}
