{% extends 'base.html' %}

{% block nav-js %}
{% if object == user %}
<script>
    $('li.active').removeClass('active');
    $('#self_tab').addClass('active');
</script>
{% else %}
<script>
    $('li.active').removeClass('active');
    $('#users_tab').addClass('active');
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="container container-fluid">
    <h1>
        {{object.username}}
        <button type="button" id="favorite_button" class="panel-close-button">
            {% if meta_data.is_followed == 'true' %}
            <span id="star_glyph" class="glyphicon glyphicon-star"></span>
            {% else %}
            <span id="star_glyph" class="glyphicon glyphicon-star-empty"></span>
            {% endif %}
        </button>
    </h1>

    <div style="margin-top:20px; margin-bottom:20px">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle='tab' href="#user_interactions_tab">User Interactions</a></li>
            <li><a data-toggle='tab' href="#experiments_overview_tab">Experiments Overview</a></li>
            {% if object == user %}
            <li class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Actions <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'update_user' object.pk %}">Update Profile</a></li>
                    <li><a href="{% url 'delete_user' object.pk %}">Delete Profile</a></li>
                </ul>
            </li>
            {% endif %}
            <li class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Navigate To <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'user_experiments' object.pk %}">Personal Experiments</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'user_followers' object.pk %}">Followers</a></li>
                    <li><a href="{% url 'user_followed' object.pk %}">Followed Users</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class='tab-content' id='tabs'>
        <div id='user_interactions_tab' class='tab-pane fade in active'>
            <div id='user_interactions'>
                Following {{meta_data.user_following_number}} users</br>
                {{meta_data.data_favorite_number}} favorite datasets</br>
                Followed by {{meta_data.user_followed_by_number}} users</br>
                {{object.username}}'s datasets have been favorited {{meta_data.data_favorited_by_number}} times</br>
            </div>
        </div>
        <div id='experiments_overview_tab' class='tab-pane fade'>
            <div id='experiments_overview'>
                <div class="row">
                    <div class="col-sm-6">
                        <div>Assemblies:</div>
                        <div id="pie_1"></div>
                    </div>
                    <div class="col-sm-6">
                        <div>Data types:</div>
                        <div id="pie_2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra-js %}
<script type='text/javascript'>

$(document).ready(function(){
    let star_glyph = $('#star_glyph');
    $('#favorite_button').on('click', function () {
        if (star_glyph.hasClass('glyphicon-star-empty')) {
            star_glyph.removeClass('glyphicon-star-empty')
            star_glyph.addClass('glyphicon-star')

            $.ajax({url: '{% url 'api:user-follow' user_object.pk %}'});
        }

        else if (star_glyph.hasClass('glyphicon-star')) {
            star_glyph.removeClass('glyphicon-star')
            star_glyph.addClass('glyphicon-star-empty')

            $.ajax({url: '{% url 'api:user-stop-following' user_object.pk %}'});
        }
    });

    window.apps.createPieChart(
        $('#pie_1')[0],
        {{plot_data.assembly_counts|safe}},
        0,
    );
    window.apps.createPieChart(
        $('#pie_2')[0],
        {{plot_data.experiment_counts|safe}},
        1,
    );
});
</script>
{% endblock %}
