path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.metaplot {
    height: 100%;
}

.axis {
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #000;
}

.axis path {
    stroke: #000;
}

.x.axis line {
    stroke: #000;
}

.x.axis .minor {
    stroke: #000;
}

.x.axis path {
    stroke: #000;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}
