{% extends 'base_EXPLORE.html' %}

{% block sub-nav-js %}
<script>
    $('.navbar-sub-niehs').children('li').removeClass('active');
    $('#explore_network_tab').addClass('active');
</script>
{% endblock %}

{% block sub-content %}
<div class="container">
    <div id="explore"></div>
</div>
{% endblock sub-content %}

{% block extra-js %}
<script type='text/javascript'>
$(document).ready(function(){
    window.apps.appendNetworkExplore(
        $("#explore")[0],
        {{network_lookup|safe}},
        {{available_organisms|safe}},
        {{available_experiment_types|safe}},
    );
});
</script>
{% endblock %}
