{% extends 'base_EXPLORE.html' %}

{% block sub-nav-js %}
<script>
    $('.navbar-sub-niehs').children('li').removeClass('active');
    $('#explore_pca_tab').addClass('active');
</script>
{% endblock %}

{% block sub-content %}
<div class="container">
    <div id="explore"/>
</div>
{% endblock sub-content %}

{% block extra-js %}
<script type='text/javascript'>
$(document).ready(function(){
    window.apps.appendExplore(
        $("#explore")[0],
        {{pca_lookup|safe}},
        {{available_experiment_types|safe}},
        {{available_assemblies|safe}},
        {{available_groups|safe}},
        {{user_data|safe}},
    );
});
</script>
{% endblock %}
